@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ============================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/* for wrapper */

.home-page .wrapper {
  max-width: 1360px;
  width: 88%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header {
  position: sticky;
  background-color: transparent;
  top: 0;
}

header.active .main-header .wrapper{
  padding: 15px;
  background-color: #fff;
}

.top-bar { background-color: #A3C63B; }

.top-bar .wrapper { 
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.social-icons, 
.time-and-contact { 
  display: flex; 
}

.time,
.phone-no a {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
}

.time::before { content: "\f017"; }
.phone-no a::before {content: "\f095"; }

.time::before,
.phone-no a::before {
  margin: 0 10px 0 0;
  font-family: "FontAwesome";
  font-size: 18px;
  color: #fff;
}

.time-and-contact li { border-right: 1px solid #b7d072; }
.time-and-contact li:first-child { border-left: 1px solid #b7d072; }
.social-icons li a { border-right: 1px solid #b7d072; }
.social-icons li:first-child a { border-left: 1px solid #b7d072; }
.text-indent { text-indent: -9999px; }

.icon {
  padding: 15px 18px;
  font-family: "FontAwesome";
  font-size: 16px;
  color: #fff;
}

.facebook::after { content: "\f09a"; }
.twitter::after { content: "\f099"; }
.linkedin::after { content: "\f0e1"; }
.behance::after { content: "\f1b4"; }

.facebook::after,
.twitter::after,
.linkedin::after,
.behance::after {
  float: right;
  text-indent: 0;
  transition: all .5s ease-in-out;
}

.main-header .wrapper {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar { display: flex; }
.navbar li {  padding: 0 20px; }

.nav-list { 
  padding: 10px 10px;
  border-bottom: transparent;
  font-size: 16px;
  color: #fff;
  transition: all .5s;
}

.nav-list.active {
  color: #A3C63B;
  border-bottom: 4px solid #A3C63B;
}

.hamburger {
  display: none;
  width: 35px; 
  height: 60px;
  position: relative;
  cursor: pointer
}

.bar {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  background: #A3C63B;
  transition: 0.5s;
}

.bar:nth-child(1) { top: 12px; }
.bar:nth-child(2) { top: 24px; }
.bar:nth-child(3) { top: 36px; }

.hamburger.active .bar:nth-child(1){ transform: translateY(12px) rotate(-45deg); }
.hamburger.active .bar:nth-child(2){ opacity:0; }
.hamburger.active .bar:nth-child(3){ transform: translateY(-12px) rotate(45deg); }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/



/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 



 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width: 1024px) {


  .phone-no a:hover, 
  .phone-no a:hover::before { 
    opacity: 80%;
  }

  .facebook:hover:after { color: #1877f2; }
  .twitter:hover:after { color: #1da1f2; }
  .linkedin:hover:after { color: #0a66c2; }
  .behance:hover:after { color: #1769ff; }

  .nav-list:hover {
    color: #A3C63B;
    border-bottom: 4px solid #A3C63B;
  }
}  