/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ============================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { 
  overflow-y: scroll; 
  scroll-behavior: smooth;
}

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;  
  list-style-type: none;
}

/* for wrapper */

.home-page .wrapper {
  max-width: 1360px;
  width: 100%;
  padding: 0 95px 0 80px; 
  margin: 0 auto;
}

.our-service-page .wrapper,
.contact-us-page .wrapper {
  max-width: 1360px;
  width: 100%;
  padding: 0 125px 0 127px; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  position: fixed; 
  z-index: 9999;
  top: 0;
  background-color: transparent;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

header.active .main-header .wrapper{
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.09);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.09);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

header.active .nav-list { color: #A3C63B; }

.top-bar { background-color: #A3C63B; }

.top-bar .wrapper { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
} 

.social-icons, 
.time-and-contact { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
}

.time, 
.phone-no a {
  color: #fff;
  padding: 14px 28px; 
  font-size: 13px;
  font-weight: 800;
}

.phone-no a {
  padding: 14px 25px;
}

.time::before { content: "\f017"; }
.phone-no a::before {content: "\f095"; }

.time::before,
.phone-no a::before {
  margin: 0 10px 0 0;
  color: #fff;
  font-family: "FontAwesome";
  font-size: 18px;
}

.time-and-contact li { border-right: 1px solid #b7d072; }
.time-and-contact li:first-child { border-left: 1px solid #b7d072; }
.social-icons li a { border-right: 1px solid #b7d072; }
.social-icons li:first-child a { border-left: 1px solid #b7d072; }
.text-indent { text-indent: -9999px; }

.icon {
  width: 48px;
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "FontAwesome";
  font-size: 17px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facebook::after { content: "\f09a"; }
.twitter::after { content: "\f099"; }
.linkedin::after { content: "\f0e1"; }
.behance::after { content: "\f1b4"; }

.facebook::after,
.twitter::after,
.linkedin::after,
.behance::after {
  float: right;
  text-indent: 0;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.main-header .wrapper {
  margin: 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar { display: -webkit-box; display: -ms-flexbox; display: flex; }
.navbar li { padding: 0 17px; }

.nav-list { 
  padding: 8px;
  border-bottom: transparent;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.nav-list.active {
  color: #A3C63B;
  border-bottom: 3px solid #A3C63B;
}

.hamburger {
  width: 35px; 
  height: 60px;
  display: none;
  position: relative;
  cursor: pointer
}

.bar {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  background: #A3C63B;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.bar:nth-child(1) { top: 12px; }
.bar:nth-child(2) { top: 24px; }
.bar:nth-child(3) { top: 36px; }

.hamburger.active .bar:nth-child(1){ -webkit-transform: translateY(12px) rotate(-45deg); -ms-transform: translateY(12px) rotate(-45deg); transform: translateY(12px) rotate(-45deg); }
.hamburger.active .bar:nth-child(2){ opacity:0; }
.hamburger.active .bar:nth-child(3){ -webkit-transform: translateY(-12px) rotate(45deg); -ms-transform: translateY(-12px) rotate(45deg); transform: translateY(-12px) rotate(45deg); }

.service-icon { 
  width: 45px;
  padding: 12px 0;
  font-size: 16px;
}

.service-time,
.service-phone a { 
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 700;
}

.contact-us-page .navbar li,
.our-service-page .navbar li { 
  padding: 0 15px; 
}

.service-nav-list { padding: 7px; }

.contact-us-page .navbar li:last-child,
.our-service-page .navbar li:last-child { 
  padding-right: 28px; 
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Banner Section CSS Start */
.color-green { color: #A3C63B; }
.banner-section { margin-top: 30px; }

.banner-section .wrapper { 
  width: 100%; 
  padding: 0;
  position: relative;
}   

.sliders { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-orient: horizontal; 
  -webkit-box-direction: normal; 
      -ms-flex-direction: row; 
          flex-direction: row;
}

.slider {
  position: relative; 
  overflow: hidden;
  -ms-flex-preferred-size: 0;
      flex-basis: 0; 
}

.slider.active { -ms-flex-preferred-size: 100%; flex-basis: 100%; }

.banner-content { 
  padding: 0 42% 0 12%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top-head {
  padding-bottom: 12px;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-spacing: 2px;
}

.banner-heading {
  padding-right: 40px; 
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.3;
}

.banner-content p {
  padding: 28px 0;
  color: #fff;
  line-height: 2;
}

.btn {
  padding: 10px 26px;
  border: 2px solid #A3C63B;
  border-radius: 50px;
  background-color: #A3C63B;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.slider .contact-us { margin: 8px 0 0 6px; }

.slider-btn {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
}

.prev-btn::before { content: '\f104'; }
.next-btn::before { content: '\f105'; }
.prev-btn { margin-left: 1%;}

.prev-btn::before,
.next-btn::before  {
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.prev-btn, 
.next-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: pointer;
  font-size: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
}

.next-btn {
  border-radius: 50%;
  margin-right: 1%;
  right: 0;
}
/* Banner Section CSS End */

/* Request a Call Section CSS Start */
.request-a-call {
  width: 100%;
  padding: 34px 0; 
  background-color: #A3C63B;
  color: #fff;
}

.request-a-call .wrapper { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.call-content h2 {
  font-size: 24px;
  font-weight: 600;
}

.call-content p { 
  padding: 10px 0; 
  letter-spacing: .6px;
}

.request-a-call .contact-us {
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
}

.frm-input { position: relative; }

.frm-input  .error-active {
  display: block;
}
.foot-frm-grp .error-active { bottom: 36px;}

.error-text {
  padding: 5px 0;
  display: none;
  position: absolute;
  bottom: -30px;
  color: #DD5353;
  font-size: 12px;
}

/* Request a Call Section CSS End */

/* Financial Service Section CSS start */
.service-section { padding: 150px 0; }

.section-heading { 
  color: #252723;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
}

.sub-heading {
  padding: 12px 0;
  display: block;
  color: #898170;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.financial-services {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-content {
  padding: 32px 30px;
  background-color: #F7F7F7;
}

.service-content h3 {
  color: #252723;
  font-size: 21px;
  font-weight: 800;
  text-transform: capitalize;
}

.service-content p {
  padding: 16px 0;
  color: #857B7A;
  font-size: 15px;
  font-weight: 500;
  line-height: 2;
}
/* Financial Service Section CSS End */

/* Our Solutions Section CSS Start */
.our-solutions {
  padding: 146px 0;
  background-image: url("../../assets/images/fun-facts-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.business-growth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.business-growth-content .sub-heading, 
.business-growth-content .section-heading {
  color: #fff;
  text-align: left;
}

.business-growth-content .sub-heading { padding: 12px 0 ;}

.business-growth-content { 
  -ms-flex-preferred-size: 42%; 
      flex-basis: 42%; 
  margin-left: 10px;
}

.counters { -ms-flex-preferred-size: 49%; flex-basis: 49%; }

.business-growth-content p {
  padding: 35px 0;
  color: #fff;
  font-size: 14px;
  line-height: 2;
}

.business-growth-content p:last-of-type { padding-top: 0; }

.counters { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px ;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counter-container {
  padding: 34px 30px;
  background-color: rgba(212, 212, 212, 0.1);
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  text-align: center;
}

.counter-container h3{
  padding-top: 8px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.counter {
  font-size: 38px;
  font-weight: 700;
  display: block;
}
/* Our Solutions Section CSS End */

/* About Our Company Section CSS Start */
.about-company-section { padding: 150px 0;}

.about-company { 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex; 
  background-color: #F7F7F7;
}

.about-company figure { -ms-flex-preferred-size:  48.6%; flex-basis:  48.6%; }
.about-company-content { -ms-flex-preferred-size: 50%; flex-basis: 50%; }
.about-company-content { padding: 35px 50px 35px 60px; }

.about-company figure img { 
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
 }

.about-company-content .sub-heading,
.about-company-content .section-heading {
  text-align: left;
}

.about-company-content p {
  padding: 35px 0;
  color: #7E807F;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
}
.about-company-content p:last-of-type { padding-top: 0; }
/* About Our Company Section CSS End */

/* Testimonial Section CSS Start */
.testimonial-section {
  padding: 150px 0;
  background-color: #F7F7F7;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonial {
  padding-top: 64px;
  text-align: center
} 

.testimonial figure figcaption {
  padding: 32px;
  border-radius: 8px;
  background-color: #fff;
}

.testimonial h3 {
  color: #252723;
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
}

.testimonial span {
  padding: 4px 0;
  display: block;
  font-weight: 600;
}

.testimonial figure img {
  width: 60px;
  border-radius: 50%;
  margin: 25px;
}

.testimonial p {
  color: #7E807F;
  font-size: 15px;
  line-height: 2;
}

.testimonial p::after,
.testimonial p::before {
  content: '"';
}

/* Testimonial Section CSS End */

/* Call Back Section CSS Start*/

.call-back-section { padding: 150px 0; }

.form {
  width: 100%;
  padding: 62px;
  border-radius: 5px;
  margin: 68px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #A4C63B;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-grp-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.form-grp { -ms-flex-preferred-size: 33.33%; flex-basis: 33.33%; }

.form-input {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  font-size: 14px;
  outline: none;
}

.form-input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder {
  color: #aeafaf;
}

.form-input::-moz-placeholder, .textarea::-moz-placeholder {
  color: #aeafaf;
}

.form-input:-ms-input-placeholder, .textarea:-ms-input-placeholder {
  color: #aeafaf;
}

.form-input::-ms-input-placeholder, .textarea::-ms-input-placeholder {
  color: #aeafaf;
}

.form-input::placeholder,
.textarea::placeholder {
  color: #aeafaf;
}

.form-textarea { 
  width: 100%;
  padding: 36px 0; 
}

.textarea {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  font-size: 14px;
  outline: none;
}

.form-control .btn { border-color: #fff; }

.thank-you {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  background-color: #AEDBCE;
  -webkit-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  text-align: center;
}

.thank-icon::before{
  content: '\f058';
  padding: 0 10px 0 0;
  font-family: 'FontAwesome';
  font-size: 40px;
  color: #59CE8F;
}
/* Call Back Section CSS End*/

/* Clint Logo Section CSS Start */
.client-logos-section {
  padding: 60px 60px 90px;
  background-color: #F7F7F7;
}

.client-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* Clint Logo Section CSS End */

/* Servive Page Start */
.contact-banner-section,
.our-sevice-banner-section {
  background-color: #343434;
  background-image: url('../../assets/images/page-heading-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-banner-section .wrapper,
.our-sevice-banner-section .wrapper {
  padding:  270px 0 136px;
  text-align: center;
}

.contact-banner-section .banner-heading,
.our-sevice-banner-section .banner-heading {
  padding: 0;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1px;
}

.contact-banner-section .sub-heading,
.our-sevice-banner-section .sub-heading {
  color: #fff;
  font-weight: normal;
} 

.our-services-section { 
  padding: 140px 0; 
  border-bottom: 0.1px solid #ececec;
}

.our-services-section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 31.5%;
      flex-basis: 31.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.service-tab {
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #A3C63B;
  cursor: pointer;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.service-tab:hover,
.service-tab.active {
  color: #fff;
}

.service-tab h2 {
  font-size: 20px;
  font-weight: 700;
}

.services-contents { -ms-flex-preferred-size: 63.1%; flex-basis: 63.1%; }

.right-icon::after {
  content: "\f105";
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 22px;
  float: right;
  text-indent: 0;
}

.content { display: none; }

.content h3 {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 700;
}

.content p {
  padding: 16px 0;
  color: #7E807F;
  font-size: 14px;
  line-height: 2;
}

.content p:first-of-type { padding-top: 0; }
.content p:last-of-type { padding-bottom: 0; }

.content.active {
  display: block;
  -webkit-animation: fade .8s forwards;
          animation: fade .8s forwards;
}

@-webkit-keyframes fade {
  0%{
    opacity: 0;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
  }

  50% {
    opacity: 50%;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;  
  }

  100% {
    opacity: 100%;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
  }
}

@keyframes fade {
  0%{
    opacity: 0;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
  }

  50% {
    opacity: 50%;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;  
  }

  100% {
    opacity: 100%;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
  }
}

.contact-us-page .section-heading,
.our-service-page .section-heading { 
  font-size: 36px; 
}

.contact-us-page .sub-heading,
.our-service-page .sub-heading { 
  font-size: 14px; 
  font-weight: normal;
}

.contact-us-page .client-logos-section,
.our-service-page .client-logos-section { 
  padding: 60px;
}
/* Servive Page End */


/* Contact Us Page Start */
.contact-details { padding: 135px 0; }

.detials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.detail {
  padding: 63px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.phone::before,
.email::before,
.location::before {
  padding: 0 0 36px;
  display: block;
  color: #A4C63B;
  font-family: "FontAwesome";
  font-size: 46px;
}

.phone::before { content: "\f095"; }
.email::before { content: '\f0e0'; }
.location::before { content: '\f041'; }

.phone, 
.email,
.location {
  display: block;
  color: #212529;
  font-size: 20px;
  font-weight: 700;
}

.detail a {
  font-size: 15px;
  font-weight: 700;
  color: #A3C63B;
}

.detail p {
  padding: 14px 0 20px;
  color: #7E807F;
  font-size: 14px;
  line-height: 2.2;
}

.detail:last-child p { padding: 16px 40px;}
.gmap .wrapper { padding: 0; }

.contact-us-page .call-back-section { 
  padding: 138px 0;
  background-color: #F7F7F7; 
}

.contact-us-page .form {
  padding: 0;
  background-color: transparent;
}

.contact-us-page .form-input,
.contact-us-page .textarea {
  padding: 10px 16px;
  font-size: 14px;
}

.contact-details h2 { display: none;}
/* Contact Us Page End */

/*=================================
main styling ends here
=================================*/

/*=================================
footer styling starts here
=================================*/ 

footer {
  background-color: #232323;
  color: #fff;
}

.footer-heading { text-indent: -9999px;}

.footer {
  padding: 38px 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 37px;
}

.footer > li { -ms-flex-preferred-size: 22.5%; flex-basis: 22.5%; } 

h4 { 
  padding: 32px 0;
  font-size: 22px;
  font-weight: 600;
}

.footer-about p {
  font-size: 15px;
  line-height: 2.1;
}

.footer .social-icons { gap: 10px; }

.footer .social-icons .footer-icon {
  width: 36px;
  height: 36px;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #232323;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.useful-links,
.additional-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.useful-links li,
.additional-pages li { 
  font-size: 15px;  
  line-height: 2;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.foot-frm-input,
.foot-frm-textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 50px;
  background-color: rgba(212, 212, 212, 0.1);
  color: #A3C63B;
  outline: none;
}

.foot-frm-textarea { border-radius: 25px; }

.foot-frm-input::-webkit-input-placeholder, .foot-frm-textarea::-webkit-input-placeholder { 
  color: #7E807F;
}

.foot-frm-input::-moz-placeholder, .foot-frm-textarea::-moz-placeholder { 
  color: #7E807F;
}

.foot-frm-input:-ms-input-placeholder, .foot-frm-textarea:-ms-input-placeholder { 
  color: #7E807F;
}

.foot-frm-input::-ms-input-placeholder, .foot-frm-textarea::-ms-input-placeholder { 
  color: #7E807F;
}

.foot-frm-input::placeholder,
.foot-frm-textarea::placeholder { 
  color: #7E807F;
}

.copyright-section { 
  padding: 30px 0;
  background-color: #343434;
  color: #DEE7E9;
  font-size: 15px;
  text-align: center;
  word-spacing: 1px;
}

.copyright-section a { color: #DEE7E9;}

.top-icon {
  visibility: hidden;
  position: fixed;
  right: 2%;
  bottom: 4%;
}

.top-icon.active {
  visibility: visible;
}

.top-icon::after {
  content: "\f077";
  width: 36px;
  height: 36px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 26px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #232323;
  font-family: "FontAwesome";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-indent: 0;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.contact-us-page .footer,
.our-service-page .footer { 
  padding: 12px 0 78px;
  gap: 34px;
}
  
.contact-us-page h4,
.our-service-page h4 { 
  padding: 38px 0 32px 0;
  font-size: 20px;
}
  
.contact-us-page .footer-about p,
.our-service-page .footer-about p { 
  font-size: 14px; 
}
  
.contact-us-page .copyright-section p,
.our-service-page .copyright-section p {
  font-size: 14px;
  font-weight: 600;
}
  
.contact-us-page .useful-links li,
.contact-us-page .additional-pages li,
.our-service-page .useful-links li,
.our-service-page .additional-pages li {
  font-size: 14px;
}
  
.contact-us-page .footer .social-icons .footer-icon,
.our-service-page .footer .social-icons .footer-icon {
  width: 33px;
  height: 33px;
  font-size: 16px;
}
  
.contact-us-page .foot-frm-input,
.contact-us-page .foot-frm-textarea,
.our-service-page .foot-frm-input,
.our-service-page .foot-frm-textarea {
  padding: 10px 14px;
  font-size: 13px; 
}
  
.contact-us-page .foot-frm-input::-webkit-input-placeholder, 
.contact-us-page .foot-frm-textarea::-webkit-input-placeholder, 
.our-service-page .foot-frm-input::-webkit-input-placeholder, 
.our-service-page .foot-frm-textarea::-webkit-input-placeholder {
  font-weight: 600;
}
  
.contact-us-page .foot-frm-input::-moz-placeholder, 
.contact-us-page .foot-frm-textarea::-moz-placeholder, 
.our-service-page .foot-frm-input::-moz-placeholder, 
.our-service-page .foot-frm-textarea::-moz-placeholder {
  font-weight: 600;
}
  
.contact-us-page .foot-frm-input:-ms-input-placeholder, 
.contact-us-page .foot-frm-textarea:-ms-input-placeholder, 
.our-service-page .foot-frm-input:-ms-input-placeholder, 
.our-service-page .foot-frm-textarea:-ms-input-placeholder {
  font-weight: 600;
}
  
.contact-us-page .foot-frm-input::-ms-input-placeholder, 
.contact-us-page .foot-frm-textarea::-ms-input-placeholder, 
.our-service-page .foot-frm-input::-ms-input-placeholder, 
.our-service-page .foot-frm-textarea::-ms-input-placeholder {
  font-weight: 600;
}
  
.contact-us-page .foot-frm-input::placeholder,
.contact-us-page .foot-frm-textarea::placeholder,
.our-service-page .foot-frm-input::placeholder,
.our-service-page .foot-frm-textarea::placeholder {
  font-weight: 600;
}

/*=================================
footer styling ends here
=================================*/ 

/*media query starts*/

/* Hover Effects till 1024 */
@media only screen and (min-width: 1024px) {
  
  .phone-no a:hover, 
  .phone-no a:hover::before { 
    opacity: 80%;
  }
  
  .facebook:hover:after { color: #1877f2; }
  .twitter:hover:after { color: #1da1f2; }
  .linkedin:hover:after { color: #0a66c2; }
  .behance:hover:after { color: #1769ff; }
  
  .nav-list:hover {
    color: #A3C63B;
    border-bottom: 3px solid #A3C63B;
  }
  
  .prev-btn:hover, 
  .next-btn:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .btn:hover { 
    background-color: transparent; 
    color: #A3C63B;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }
  
  .form-control .btn:hover,
  .request-a-call .contact-us:hover { 
    background-color: #fff; 
  }

  .contact-us-page .form-control .btn:hover {
    border-color: #A3C63B;
    background-color: transparent;
  }

  .form-input:focus,
  .textarea:focus {
    background-color: #ececec;
  }

  .detail a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
  }

  .top-icon:hover::after {
    border-color: #212529;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
  }
}
/* --------END------ */

/* Responsive Start From 995 to 1200 px */
@media only screen and  (min-width: 995px) and (max-width: 1200px){
  
  .main-header .wrapper { margin: 16px 0; }
  .section-heading { font-size: 32px; }
  .banner-content { padding: 15% 38% 8% 8%; }
  .service-section { padding: 100px 0;}
  .service-content { padding: 20px 25px;}
  .business-growth-content { margin: 0; }
  .business-growth-content p { padding: 28px 0; }
  .counters { gap: 20px; }
  .counter-container { padding: 30px 12px; }
  .about-company-section { padding: 115px 0; }
  .about-company-content { padding: 24px 40px; }
  .form { margin-top: 50px; }
  .client-logos-section { padding: 60px; }
  .footer { padding: 30px 0 60px; } 
  .banner-section .wrapper { padding: 0; }
  .our-services-section { padding: 90px 0; }
  .contact-details { padding: 90px 0; }
  .contact-us-page .call-back-section { padding: 80px 0; }
  .contact-us-page .gmap .wrapper { padding: 0; }
  h4 { font-size: 20px; }

  .contact-us-page .wrapper,
  .our-service-page .wrapper,
  .home-page .wrapper { 
    padding: 0 70px; 
  }

  .banner-section .wrapper { padding: 0;}

  .contact-banner-section .wrapper,
  .our-service-banner-section .wrapper { 
    padding: 270px 0 136px; 
  }

  .top-head {
    padding-bottom: 8px;
    font-size: 18px;
  }

  .banner-heading {
    padding: 0;
    font-size: 40px; 
  }

  .financial-services {
    padding-top: 50px;
    gap: 20px;
  }

  .testimonial-section,
  .call-back-section,
  .our-solutions { 
    padding: 80px 0; 
  }
}
/* Responsive End */

/* Responsive Start From 769 to 994 px */
@media only screen and (min-width: 769px) and (max-width: 994px) {

  .section-heading { font-size: 34px ;}
  .navbar li { padding: 0 4px; }
  .banner-content {padding: 10% 25% 0 8% }
  .banner-content p { padding: 10px 0;}
  .call-content { -ms-flex-preferred-size: 75%; flex-basis: 75%; }
  .service figure { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .business-growth-content { -ms-flex-preferred-size: 50%; flex-basis: 50%; }
  .business-growth-content p { padding: 20px 0;}
  .about-company-content { padding: 24px 30px; }
  .about-company-content p { padding: 18px 0; }
  .form-grp-container { gap: 10px; }
  .our-services-section { padding: 90px 0; }
  .contact-details { padding: 80px 0; }
  .contact-us-page .call-back-section { padding: 60px 0; }
  .contact-us-page .gmap .wrapper { padding: 0; }
  .detials { gap: 10px;}
  .detail:last-child p { padding: 16px 12px; }
  .detail { padding: 50px 10px;}
  
  .our-service-page .wrapper,
  .contact-us-page .wrapper,
  .home-page .wrapper { 
    padding: 0 5%; 
  }

  .banner-section .wrapper { padding: 0;}

  .contact-us-page .client-logos-section,
  .our-service-page .client-logos-section,
  .client-logos-section { 
    padding: 30px 0; 
  } 

  .contact-us-page .navbar li,
  .our-service-page .navbar li { 
    padding: 0 5px; 
  }

  .contact-banner-section .wrapper,
  .our-sevice-banner-section .wrapper { 
    padding: 270px 0 136px;
  }

  h1 { -ms-flex-preferred-size: 20%; flex-basis: 20%; }

  .form { 
    padding: 30px;
    margin: 30px 0; 
  }

  .service-section,
  .our-solutions { 
    padding: 60px 0; 
  }

  .call-back-section,
  .about-company-section,
  .testimonial-section { 
    padding: 80px 0;
  }

  .banner-heading {
    padding: 0;
    font-size: 30px;
  }
  
  .top-head {
    padding: 0;
    font-size: 20px;
  }
  
  .financial-services { 
    padding: 50px 0; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
  }

  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
  }

  .footer > li { -ms-flex-preferred-size: 45%; flex-basis: 45%;}

}
/* Responsive End */

/* Responsive start form 481 to 768 px */
@media only screen and (min-width: 481px) and (max-width: 768px){

  .about-company-content { padding: 24px 30px; }
  .about-company-content p { padding: 18px 0; }
  .testimonial { padding-top: 40px; }
  .form-textarea { padding: 24px 0;}
  .form-grp-container { gap: 5px; }
  .footer > li { -ms-flex-preferred-size: 45%; flex-basis: 45%;}
  .our-services-section { padding: 50px 0;}
  .contact-details { padding: 60px 0; }
  .contact-us-page .call-back-section { padding: 60px 0; }
  .contact-us-page .gmap .wrapper { padding: 0; }  
  .contact-details .detials { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .detail:last-child p { padding: 16px 12px; }
  
  .our-service-page .section-heading,
  .contact-us-page .section-heading,
  .section-heading {
    font-size: 34px;
  }

  .contact-us-page .client-logos-section,
  .our-service-page .client-logos-section,
  .client-logos-section { 
    padding: 30px 15px; 
  }

  .our-services-section .wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

  .services-tabs {
    padding-bottom: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .service-tab h2 { font-size: 17px; }

  .service-tab { 
    padding: 16px; 
    -ms-flex-preferred-size: 48%; 
        flex-basis: 48%;
    gap: 5px;
  }

  .banner-content { 
    padding: 15% 10% 0;
    text-align: center;
  }

  .time,
  .phone-no a {
    padding: 14px 10px;
  }
  
  .top-head { font-size: 18px; }

  .banner-heading { 
    padding: 0;
    font-size: 30px; 
  }

  .slider figure img { 
    height: 100%; 
    -o-object-fit: cover; 
       object-fit: cover;
  }

  .request-a-call {
    padding: 25px 0;
    text-align: center;
  }

  .client-logos { 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap; 
    gap: 10px;
  }

  .call-back-section,
  .testimonial-section,
  .about-company-section,
  .service-section,
  .our-solutions { 
    padding: 60px 0; 
  }

  .request-a-call .wrapper,
  .testimonials,
  .about-company,
  .financial-services,
  .business-growth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .business-growth-content { 
    margin-bottom: 30px;
    text-align: center;
  }

  .form {
    margin: 25px 0;
    padding: 20px 15px;
  }

  .footer { 
    padding: 0 0 30px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }

}
/* Responsive End */

/* Top Header Responsive start till 550px*/
@media only screen and (max-width: 550px){
  
  .top-bar .wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .time-and-contact {
    width: 100%;
    border-bottom: 1px solid #b7d072;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .social-icons { 
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .social-icons li:first-child a,
  .social-icons li a,
  .time-and-contact li:first-child,
  .time-and-contact li  {
    border: none;
  }
  
  .social-icons a { padding: 10px 0;} 
  .time, .phone-no a { padding: 10px 2px;}
}
/* Top Header Responsive End till 550px*/

/* Responsive till 480px Start */
@media only screen and (max-width: 480px){
  
  .testimonials { gap: 0; }
  .testimonial { padding: 30px 0;}
  .testimonial:last-of-type{ padding-bottom: 0; }
  .form-grp-container { gap: 15px;}
  .form-textarea { padding: 20px 0; }
  .banner-content p { padding: 5px 0;}
  .top-head { font-size: 16px; }
  .form-grp { width: 100%; }
  .footer .social-icons { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
  .our-services-section { padding: 50px 0;}
  .our-services-section .wrapper { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .contact-details .detials { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .contact-details { padding: 60px 0; }
  .contact-us-page .call-back-section { padding: 60px 0; }
  .contact-us-page .gmap .wrapper { padding: 0; }

  .our-service-page .section-heading,
  .contact-us-page .section-heading,
  .section-heading {
    font-size: 32px;
  }

  .our-service-page .sub-heading,
  .contact-us-page .sub-heading,
  .sub-heading {
    font-size: 14px;
  }

  .services-tabs { 
    width: 100%;
    padding-bottom: 16px;
  }

  .service-tab { 
    width: 100%; 
    padding: 16px;
  }

  .banner-heading {
    padding: 0;
    font-size: 30px;
  }

  .banner-content {
    padding: 20% 12% 0;
    text-align: center;
  }

  .our-service-page .client-logos-section,
  .contact-us-page .client-logos-section,
  .client-logos-section { 
    padding: 30px 0;
  }

  .call-back-section,
  .testimonial-section,
  .about-company-section,
  .service-section,
  .our-solutions { 
    padding: 50px 0; 
  }

  .slider figure img { 
    height: 100%; 
    -o-object-fit: cover; 
       object-fit: cover;
  }

  .client-logos { 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
  }
  .request-a-call { padding: 24px 0;}

  .footer { 
    padding: 0px 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form { 
    padding: 20px 10px;
    margin-top: 30px; 
  }

  .form-grp-container,
  .request-a-call .wrapper,
  .testimonials,
  .about-company,
  .financial-services,
  .business-growth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about-company-content { padding: 20px 16px;}
  .about-company-content p { padding: 26px 0;}
  .business-growth-content { margin-bottom: 30px;}
  .counters { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

}
/* Responsive till 480px End */

/* Mobile Nav Started */
@media only screen and (max-width: 768px){

  .home-page .wrapper { padding: 0 3%; }
  .hamburger { display: block; }
  .main-header { position: relative; }
  header { background-color: #fff; }
  .main-header .wrapper { margin: 0; }

  .slider figure,
  .our-sevice-banner-section,
  .contact-banner-section {
    height: 100vh;
  }

  .our-service-page .wrapper,
  .contact-us-page .wrapper,
  .home-page .wrapper { 
    padding: 0 3%; 
  }

  .banner-section .wrapper { padding: 0;}
  
  .contact-banner-section .wrapper,
  .our-sevice-banner-section .wrapper  { 
    padding: 270px 0 136px; 
  }

  nav { 
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C4DFAA;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
  }

  nav.active { -webkit-transform: translateX(0%); -ms-transform: translateX(0%); transform: translateX(0%);}

  .navbar {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .navbar li { 
    margin-top: 30px;
  }

  .navbar li:first-child { margin: 0;}
}
/* Mobile Nav End */
