@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ============================================ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;  
  list-style-type: none;
}

/* for wrapper */

.home-page .wrapper {
  max-width: 1360px;
  width: 100%;
  padding: 0 95px 0 80px; 
  margin: 0 auto;
}

.our-service-page .wrapper {
  max-width: 1360px;
  width: 100%;
  padding: 0 125px 0 127px; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header {
  width: 100%;
  position: fixed; 
  z-index: 9999;
  top: 0;
  background-color: transparent;
}

header.active .main-header .wrapper{
  padding: 15px;
  background-color: #fff;
}

.top-bar { background-color: #A3C63B; }

.top-bar .wrapper { 
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.social-icons, 
.time-and-contact { 
  display: flex; 
}

.time, 
.phone-no a {
  padding: 14px 28px; 
  font-size: 13px;
  font-weight: 800;
  color: #fff;
}

.phone-no a {
  padding: 14px 25px;
}

.time::before { content: "\f017"; }
.phone-no a::before {content: "\f095"; }

.time::before,
.phone-no a::before {
  margin: 0 10px 0 0;
  font-family: "FontAwesome";
  font-size: 18px;
  color: #fff;
}

.time-and-contact li { border-right: 1px solid #b7d072; }
.time-and-contact li:first-child { border-left: 1px solid #b7d072; }
.social-icons li a { border-right: 1px solid #b7d072; }
.social-icons li:first-child a { border-left: 1px solid #b7d072; }
.text-indent { text-indent: -9999px; }

.icon {
  width: 48px;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "FontAwesome";
  font-size: 17px;
  color: #fff;
}

.facebook::after { content: "\f09a"; }
.twitter::after { content: "\f099"; }
.linkedin::after { content: "\f0e1"; }
.behance::after { content: "\f1b4"; }

.facebook::after,
.twitter::after,
.linkedin::after,
.behance::after {
  float: right;
  text-indent: 0;
  transition: all .5s ease-in-out;
}

.main-header .wrapper {
  margin: 26px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar { display: flex; }
.navbar li {  padding: 0 17px; }

.nav-list { 
  padding: 8px;
  border-bottom: transparent;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  transition: all .5s;
}

.nav-list.active {
  color: #A3C63B;
  border-bottom: 3px solid #A3C63B;
}

.hamburger {
  display: none;
  width: 35px; 
  height: 60px;
  position: relative;
  cursor: pointer
}

.bar {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  background: #A3C63B;
  transition: 0.5s;
}

.bar:nth-child(1) { top: 12px; }
.bar:nth-child(2) { top: 24px; }
.bar:nth-child(3) { top: 36px; }

.hamburger.active .bar:nth-child(1){ transform: translateY(12px) rotate(-45deg); }
.hamburger.active .bar:nth-child(2){ opacity:0; }
.hamburger.active .bar:nth-child(3){ transform: translateY(-12px) rotate(45deg); }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Banner Section CSS Start */
.color-green { color: #A3C63B; }
.banner-section { margin-top: 30px; }

.banner-section .wrapper { 
  width: 100%; 
  padding: 0;
  position: relative;
}   

.sliders { 
  display: flex; 
  flex-direction: row;
}

.slider {
  position: relative; 
  flex-basis: 0; 
  overflow: hidden;
}

.slider.active { flex-basis: 100%; }

.banner-content { 
  padding: 0px 42% 0px 12%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.top-head {
  padding-bottom: 12px;
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.banner-heading {
  padding-right: 12%; 
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.3;
}

.banner-content p {
  padding: 28px 0;
  color: #fff;
  line-height: 2;
}

.btn {
  padding: 10px 26px;
  border: 2px solid #A3C63B;
  border-radius: 50px;
  background-color: #A3C63B;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

.slider .contact-us { margin: 8px 0 0 6px; }

.slider-btn {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
}

.prev-btn::before { content: '\f104'; }
.next-btn::before { content: '\f105'; }
.prev-btn { margin-left: 1%;}

.prev-btn::before,
.next-btn::before  {
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.prev-btn, 
.next-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  position: inherit;
  align-items: center;
  color: white;
  cursor: pointer;
  font-size: 40px;
  justify-content: center;
  transition: 0.6s ease;
}

.next-btn {
  margin-right: 1%;
  border-radius: 50%;
  right: 0;
}
/* Banner Section CSS End */

/* Request a Call Section CSS Start */
.request-a-call {
  width: 100%;
  padding: 34px 0; 
  background-color: #A3C63B;
  color: #fff;
}

.request-a-call .wrapper { 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.call-content h2 {
  font-size: 24px;
  font-weight: 600;
}

.call-content p { 
  padding: 10px 0; 
  letter-spacing: .6px;
}

.request-a-call .contact-us {
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
}
/* Request a Call Section CSS End */

/* Financial Service Section CSS start */
.service-section { padding: 150px 0; }

.section-heading { 
  color: #252723;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2;
}

.sub-heading {
  padding: 12px 0;
  display: block;
  color: #898170;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.financial-services {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.service-content {
  padding: 32px 30px;
  background-color: #F7F7F7;
}

.service-content h3 {
  color: #252723;
  font-size: 21px;
  font-weight: 800;
  text-transform: capitalize;
}

.service-content p {
  padding: 16px 0;
  font-size: 15px;
  font-weight: 500;
  color: #857B7A;
  line-height: 2;
}
/* Financial Service Section CSS End */

/* Our Solutions Section CSS Start */
.our-solutions {
  padding: 146px 0;
  background-image: url("../../assets/images/fun-facts-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.business-growth {
  display: flex;
  justify-content: space-between;
}

.business-growth-content .sub-heading, 
.business-growth-content .section-heading {
  color: #fff;
  text-align: left;
}

.business-growth-content .sub-heading { padding: 12px 0 ;}

.business-growth-content { 
  flex-basis: 42%; 
  margin-left: 10px;
}
.counters { flex-basis: 49%; }

.business-growth-content p {
  padding: 35px 0;
  color: #fff;
  font-size: 14px;
  line-height: 2;
}

.business-growth-content p:last-of-type { padding-top: 0; }

.counters { 
  display: flex;
  align-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px ;
  justify-content: center;
}

.counter-container {
  padding: 34px 30px;
  background-color: rgba(212, 212, 212, 0.1);
  flex-basis: 45%;
  text-align: center;
}

.counter-container h3{
  padding-top: 8px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.counter {
  font-size: 38px;
  font-weight: 700;
}
/* Our Solutions Section CSS End */

/* About Our Company Section CSS Start */
.about-company-section { padding: 150px 0;}

.about-company { 
  display: flex; 
  background-color: #F7F7F7;
}

.about-company figure { flex-basis:  48.6%; }
.about-company-content { flex-basis: 50%; }

.about-company-content { 
  padding: 35px 50px 35px 60px;
}

.about-company-content .sub-heading,
.about-company-content .section-heading {
  text-align: left;
}

.about-company-content p {
  padding: 35px 0;
  font-size: 14px;
  font-weight: 500;
  color: #7E807F;
  line-height: 2;
}
.about-company-content p:last-of-type { padding-top: 0; }
/* About Our Company Section CSS End */

/* Testimonial Section CSS Start */
.testimonial-section {
  padding: 150px 0;
  background-color: #F7F7F7;
}

.testimonials {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.testimonial {
  padding-top: 64px;
  text-align: center
} 

.testimonial figure figcaption {
  padding: 32px;
  border-radius: 8px;
  background-color: #fff;
}

.testimonial h3 {
  color: #252723;
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
}

.testimonial span {
  padding: 4px 0;
  display: block;
  font-weight: 600;
}

.testimonial figure img {
  width: 60px;
  border-radius: 50%;
  margin: 25px;
}

.testimonial p {
  color: #7E807F;
  font-size: 15px;
  line-height: 2;
}

.testimonial p::after,
.testimonial p::before {
  content: '"';
}

/* Testimonial Section CSS End */

/* Call Back Section CSS Start*/

.call-back-section { padding: 150px 0; }

.form {
  width: 100%;
  padding: 62px;
  border-radius: 5px;
  margin: 68px 0 0;
  background-color: #A4C63B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-grp-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
}

.form-grp { flex-basis: 33.33%; }

.form-input {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  font-size: 14px;
  outline: none;
}

.form-input::placeholder,
.textarea::placeholder {
  color: #aeafaf;
}

.form-textarea { 
  width: 100%;
  padding: 36px 0; 
}

.textarea {
  width: 100%;
  padding: 12px 16px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  font-size: 14px;
  outline: none;
}

.form-control .btn { border-color: #fff; }
/* Call Back Section CSS End*/

/* Clint Logo Section CSS Start */
.client-logos-section {
  padding: 60px 60px 90px;
  background-color: #F7F7F7;
}

.client-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Clint Logo Section CSS End */

/* Servive Page Start */
/* Service Page Banner Section Start */


.service-icon { 
  width: 46px;
  padding: 12px 0;
  font-size: 16px;
}

.service-time,
.service-phone a { 
  padding: 12px 24px;
}

.our-service-page .navbar li { padding: 0 15px; }

.service-nav-list { padding: 7px; }
.our-service-page .navbar li:last-child { padding-right: 28px; }

.our-sevice-banner-section {
  background-color: #343434;
  background-image: url('../../assets/images/page-heading-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-sevice-banner-section .wrapper {
  padding:  270px 0 136px;
  text-align: center;
}

.our-sevice-banner-section .banner-heading {
  padding: 0;
  font-size: 38px;
  letter-spacing: 1px;
  font-weight: 700;
}

.our-sevice-banner-section .sub-heading {
  color: #fff;
  font-weight: normal;
} 

.our-services-section { 
  padding: 140px 0; 
  border-bottom: 0.1px solid #ececec;
}

.our-services-section .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.services-tabs {
  flex-basis: 31.5%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.service-tab {
  padding: 30px 30px;
  display: flex;
  align-items: center;
  background-color: #A3C63B;
  cursor: pointer;
  justify-content: space-between;
  transition: .5s;
}

.service-tab h2 {
  font-size: 20px;
  font-weight: 700;
}

.services-contents {
  flex-basis: 63.1%;
}

.service-tab:hover,
.service-tab.active {
  color: #fff;
}

.right-icon::after {
  content: "\f105";
  font-family: "FontAwesome";
  cursor: pointer;
  font-size: 22px;
  float: right;
  text-indent: 0;
}

.content { display: none; }

.content h3 {
  padding: 20px 0;
  font-size: 20px;
  font-weight: 700;
}

.content p {
  padding: 16px 0;
  color: #7E807F;
  font-size: 14px;
  line-height: 2;
}
.content p:first-of-type { padding-top: 0; }
.content p:last-of-type { padding-bottom: 0; }

.content.active {
  display: block;
  animation: fade .8s forwards;
}

.our-service-page .section-heading { font-size: 36px; }
.our-service-page .sub-heading { font-size: 14px; }
.our-service-page .client-logos-section { padding: 60px;}

.our-service-page .footer { 
  padding: 12px 0 78px;
  gap: 34px;
}

.our-service-page h4 { 
  padding: 38px 0 32px 0;
  font-size: 20px;
}

.our-service-page .footer-about p { font-size: 14px; }

.our-service-page .copyright-section p {
  font-size: 14px;
  font-weight: 600;
}

.our-service-page .useful-links li,
.our-service-page .additional-pages li {
  font-size: 14px;
}

.our-service-page .footer .social-icons .footer-icon {
  width: 33px;
  height: 33px;
  font-size: 16px;
}

.our-service-page .foot-frm-input,
.our-service-page .foot-frm-textarea {
  padding: 10px 14px;
  font-size: 13px; 
}

.our-service-page .foot-frm-input::placeholder,
.our-service-page .foot-frm-textarea::placeholder {
  font-weight: 600;
}


/* Service Page Banner Section End */
/* Servive Page End */

/*=================================
main styling ends here
=================================*/

/*=================================
footer styling starts here
=================================*/ 

footer {
  background-color: #232323;
  color: #fff;
}

.footer-heading { text-indent: -9999px;}

.footer {
  padding: 38px 0 80px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 37px;
}

.footer > li { 
  flex-basis: 22.5%;
} 

h4 { 
  padding: 32px 0;
  font-size: 22px;
  font-weight: 600;
}

.footer-about p {
  font-size: 15px;
  line-height: 2.1;
}

.footer .social-icons { gap: 10px;}

.footer .social-icons .footer-icon {
  width: 36px;
  height: 36px;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 26px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #232323;
}

.useful-links,
.additional-pages {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.useful-links li,
.additional-pages li { 
  font-size: 15px;  
  line-height: 2;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.foot-frm-input,
.foot-frm-textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 50px;
  outline: none;
  background-color: rgba(212, 212, 212, 0.1);
}

.foot-frm-textarea { border-radius: 25px; }

.foot-frm-input::placeholder,
.foot-frm-textarea::placeholder { 
  color: #7E807F;
}

.copyright-section { 
  padding: 30px 0;
  background-color: #343434;
  color: #DEE7E9;
  font-size: 15px;
  text-align: center;
  word-spacing: 1px;
}

.copyright-section a { color: #DEE7E9;}

.top-icon {
  display: block;
  position: fixed;
  bottom: 3%;
  right: 1.5%;
}

.top-icon::after {
  content: "\f077";
  font-family: "FontAwesome";
  width: 36px;
  height: 36px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 26px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #232323;
  text-indent: 0;
}


/*=================================
footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (min-width: 1024px) {
  
  .phone-no a:hover, 
  .phone-no a:hover::before { 
    opacity: 80%;
  }
  
  .facebook:hover:after { color: #1877f2; }
  .twitter:hover:after { color: #1da1f2; }
  .linkedin:hover:after { color: #0a66c2; }
  .behance:hover:after { color: #1769ff; }
  
  .nav-list:hover {
    color: #A3C63B;
    border-bottom: 3px solid #A3C63B;
  }
  
  .prev-btn:hover, 
  .next-btn:hover {
    background-color: rgba(0,0,0,0.8);
  }

  @keyframes fade {
    0%{
      opacity: 0;
    transition: .8s;
  
    }
    50% {
      opacity: 50%;
    transition: .8s;
  
    }
    100% {
      opacity: 100%;
    transition: .8s;
  
    }
  }

}